

body
{
  background-image:url('pomegranate.jpg');
  background-repeat: no-repeat;
  background-color: black;
  color: #FFE5CC;
  font-family: "Lucida Console", Monaco, monospace;
}

h2
{
  margin-top: 2em;
}

textarea, input{
  background-color: rgba(255,255,255,0.1);
  border: solid, 1,#6B0039;
  color: #FFE5CC;
  font-size: 1.5em;
}
a, button{
  color: #6B0039;
  background-color: rgba(255,239,204,0.9);
  margin-right:5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  border:none;
  box-shadow: none;
}

a:visited, a:active{
  color: #6B0039;
  text-decoration: none;
}

a:hover, button:hover{
  box-shadow: none;
  color: #FFE5CC;
  background-color: rgba(107,0,57,0.5);
}

button:active
{
  box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.4);
  color: white;
  line-height: 1.5em;
  padding-bottom: 0.2em;
}

label
{
  margin-top: 2em;
}

ul 
{
  padding-left: 1em;
}

li 
{
  padding: 0.6em;
  list-style: none;
  text-indent: 0;
}





a[role=button].paginate_disabled_previous, a[role=button].paginate_disabled_next{
  color:gray;
}


#text,
#numbers{
  height: 200px;
  width: 100%;
}
#photo-credit{
  font-size:.75em;
  position: fixed;
  bottom: 5px;
  right: 5px;
  color:gray;
  z-index: -10;
}
#chars_left, #number_phone_numbers{
  font-size: 50%;
}

.send
{
  width: 100%;
}

.selected
{
  background-color: #666;
}

#group-selector li {
  cursor: pointer;
}


.action
{
  cursor: pointer;
}

.action:hover
{
  color: red;
}

.info
{
  font-size: 0.7em;
  font-weight: normal;
  color: #aaa;
}

thead td, tfoot td{
  background-color: rgba(107,0,57,0.5);
}


#menu{
  position: fixed;
  top: 10px;
  right: 10px;
}

table.dataTable tr.even{
  background-color: rgba(0,0,0,0.1);
}

table.dataTable tr.odd{
  background-color: rgba(255,255,255,0.1);
}

